<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="spring.application.name" source="spring.application.name" />

    <property name="DEV_HOME" value="./logs"/>
    <property name="APP_NAME" value="${spring.application.name}"/>

    <include resource="logback-common.xml"/>
</configuration>